@page
@model SkyProject.Pages_Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="border border-2 p-3">
    <p>
        <a class="btn btn-primary" asp-page="/Employees/Create"><i class="bi bi-plus-square"></i></a>
    </p>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].ExitDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @item.CreateDate.ToShortDateString()

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExitDate)
                        @item.ExitDate?.ToShortDateString()
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-page="./Employees/Edit" asp-route-id="@item.Id"><i
                                class="bi bi-pencil-square"></i></a> |
                        <a class="btn btn-dark" asp-page="./Employees/Details" asp-route-id="@item.Id"><i
                                class="bi bi-info-square"></i></a> |
                        <a class="btn btn-danger" asp-page="./Employees/Delete" asp-route-id="@item.Id"><i
                                class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>